.product-page {
  width: 100%;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;

  .container {
    width: 100%;
    padding: 0 20px;

    @media (max-width: 400px) {
      padding: 0 10px;
    }
  }

  .back-button {
    background: var(--button-product-bg);
    color: var(--text-color);
    padding: 10px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition:all 0.3s ease-in-out;

    &:hover {
      background: var(--button-product-bg-hover);
    }
  }

  .product-card {
    width: 100%;
    padding: 20px;
    display: flex;
    gap: 40px;
    @media (max-width: 930px) {
      gap: 20px;
    }

    @media (max-width: 760px) {
      flex-direction: column;
      align-items: center;
    }

    .product-img {
      width: 400px;
      height: 400px;
      object-fit: cover;
      border-radius: 10px;

      @media (max-width: 930px) {
        width: 300px;
        height: auto;
      }

      @media (max-width: 440px) {
        width: 100%;
      }
    }

    .product-info {
      display: flex;
      flex-direction: column;
      justify-content: center;

      h1 {
        font-size: 40px;
        font-weight: 600;
        line-height: 1.2;
        @media (max-width: 630px) {
          font-size: 30px;
        }
        @media (max-width: 400px) {
          font-size: 24px;
        }

      }

      .description {
        font-size: 16px;
        @media (max-width: 630px) {
          font-size: 14px;
        }
      }

      .price {
        font-size: 28px;
        font-weight: bold;
        color: #475569;
        @media (max-width: 630px) {
          font-size: 20px;
        }
      }

      .rating {
        display: flex;
        align-items: center;
        gap: 10px;

        .stars {
          display: flex;
          font-size: 24px;
          gap: 2px; 

          @media (max-width: 630px) {
            font-size: 18px;
            
          }
        }
        
        .star {
          color: #ccc; 
        }
        
        .star.full {
          color: gold; 
        }
        
        .star.half {
          position: relative;
          display: inline-block;
          color: #ccc; 
        
          &::before {
            content: "★";
            position: absolute;
            left: 0;
            width: 49.999%;
            overflow: hidden;
            color: gold;
          }
        }       
      } 
      button {
        width: 200px;
        display: inline-block;
        margin-top: 20px;
        background-color: var(--button-product-bg);
        color: var(--text-color);
        padding: 10px 16px;
        border-radius: 8px;
        border: none;
        cursor: pointer;
        transition:all 0.3s ease-in-out;

        @media (max-width: 400px) {
          width: 100%;
        }

        &:hover {
          background: var(--button-product-bg-hover);
        }
      }  
    }
  }
}